/*horizontal navigation bar for iTaxvideos kra site*/
.navbar{background-color: red;}
.nav-link-active {
    color: white;
}
.nav-link {color: black;}
li a:hover {
    background-color: rgba(181, 193, 201, 0.3);
    color: rgb(204, 200, 200);
}
#navbar-brand {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center {
    float: right;
}

.nav-item-dropdown:hover .dropdown-menu{
    display: block;
}
.nav-item-dropdown{
    position: relative;
}
.dropdown-menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(181, 193, 201, 0.3);
}

.container-videos {
    border: 2px solid black;
    margin: 0 auto;
    width: 55%;
    text-align: center;
    background-color: black;
}
.flex-container {
    border: 1px solid black;
    text-align: left;
    background-color: white;
    padding-left: 40px;
}
h3 {
    color: white;
}
.button {
    padding-left: 650px;
    padding-top: 10px;
    padding-bottom: 100px;
}







